* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-family: "Plain Light";
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: azure;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 25vh 14vw;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 2vw;
    font-family: 'silk serif';
    font-weight: 100;
}

#line1-part1 h5 {
    /* background-color: orange; */
    width: 4vw;
    text-align: right;
}

.line h1 {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2 {
    font-size: 4.6vw;
    font-weight: 900;
    opacity: 0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes now-animate {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;

        opacity: 0;
    }
}

#main {
    position: relative;
    background-color: #111;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}